
<%= form_for @support_visit do |form| %>
  <fieldset>
    <%= form.file_field :garden_picture %>
    <%= form.hidden_field :gardener_id %>
     <div class="form-actions">
     <%= g.submit 'continue', :class =>  'btn btn-lg btn-success' %>
   <% end %>
 </div>
  </fieldset>
